<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>My Bulk Discounts</p>
  </div>

  <p><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %></p>

  <% @bulk_discounts.each do |bulk_discount| %>
  <div id="discount_<%= "#{bulk_discount.id}" %>">
    <p>
      <%= link_to "Discount: ##{bulk_discount.id}", merchant_bulk_discount_path(@merchant, bulk_discount) %>,
      Quantity Threshold: <%= bulk_discount.quantity_threshold%>,
      Percent Discount: <%= bulk_discount.percent_discount%>
      <%= button_to "Delete ##{bulk_discount.id}", merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete %>
    </p>

  <% end %>
  </div>
</body>